.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: black;
}

.web-title {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 0 0;
}

.extra-link,
.extra-link:visited {
  color: black;
  text-decoration: underline;
}

.extra-link:hover {
  color: #63beff;
}
