.row-home {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.section {
  width: 50%;
  text-align: center;
}

.button-right {
  padding: 10px;
  font-size: 20px;
  width: 40%;
  font-weight: bold;
  border-radius: 10px;
  border-width: 1px;
}

.button-left {
  padding: 10px;
  font-size: 20px;
  width: 40%;
  font-weight: bold;
  border-radius: 10px;
  border-width: 1px;
}

.opp-img {
  margin-left: -40px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.map-img {
  transform: scale(0.9);
  margin-top: -40px;
}

.logout-img {
  transform: scale(0.9);
  margin-top: -50px;
}
