.filter {
  padding: 10px;
  display: flex;
  width: 90%;
  margin: auto;
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.label {
  font-size: 20px;
  padding-top: 3px;
  white-space: nowrap;
}

input[type="checkbox"] {
  zoom: 1.7;
  padding-top: 3px;
}

.opportunity-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-content: center;
  margin: auto;
}

.opportunity-card {
  height: 350px;
  background-color: #f8dcc1;
  margin: 30px 20px 0 20px;
  border-radius: 20px;
}

.opportunity-img-box {
  background-color: white;
  width: 80%;
  margin: auto;
  height: 250px;
  border-radius: 20px;
}

.opportunity-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  margin: auto;
  object-fit: contain;
}

.opportunity-text {
  padding: 25px 0;
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}
