.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: black;
}

.nav-link1,
.nav-link1:visited {
  text-decoration: none;
  color: black;
}

.nav-link1:hover {
  color: white;
}

.social-input {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  width: 90%;
}

.icon {
  transform: scale(1.5);
  margin-right: 5%;
}

