* {
  font-family: "Nunito";
  margin: 0;
}

nav {
  display: fixed;
  background-color: #63beff;
  height: 60px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 90%;
  margin: auto;
  height: 60px;
  color: white;
}

.web-name {
  font-size: 25px;
  font-weight: bold;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

section {
  margin: 30px 0;
}

.section-title {
  background-color: #add8e6;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.section-text {
  padding: 25px 0;
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 20px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
